Package: se.nosskirneh.verticalvideosyndrome
Name: VerticalVideoSyndrome 2
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
Section: Tweaks
